tmp_commands.txt
pysrc/notebooks/nice_*.png
pysrc/notebooks/vae_*.png
pysrc/figures/slabs/scenes

.vscode
/xla
perf.data
perf.data.old

# Documentation
doc/apidocs/*
doc/*.aux
doc/*.log
doc/*.out
doc/*.toc
doc/*.bbl
doc/*.blg
doc/main.pdf
doc/plugins_generated.tex

# Build-related
.sconf_temp
build/release
build/debug
debian
.sconsign.dblite
/config.py

config.log
*.pyc

# MSVC++-related
build/mitsuba-msvc2017.sdf
build/mitsuba-msvc2017.suo
build/mitsuba-msvc2017.vcxproj.user
build/.vs/**/*
data/windows/mitsuba_res.res
dist

# Debugging history files
\.gdb_history

# Dependencies
dependencies

# OSX binaries and byproducts
Mitsuba.app
.DS_Store

# Imported geometry and some default output types
# /meshes
# /textures
# mitsuba.*.log
# *.exr

# Eclipse CDT project files
.externalToolBuilders
.settings
.cproject
.project

pysrc/tmp
pysrc/graphs
pysrc/scatterparams_*
pysrc/outputs

.ipynb_checkpoints



## Core latex/pdflatex auxiliary files:

report/edic_semester_report/report.pdf
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Generated if empty string is given at "Please type another file name for output:"
.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.tex.bak

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa
